/** @format */

:root {
  --background-color: #fff;
  --text-color: #4b4b4b;
  --accent-color: #4ec7f3;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%; /* 1rem === 10px */
}

body {
  min-width: 35rem;
  position: relative;
  background-color: var(--background-color);
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

.onLoadAniMation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: top;
  animation: discover 1s forwards;
  display: none;
  z-index: 1000;
}

@keyframes discover {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.beforeOnLoadAnimation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  animation: overLapping 1s forwards;
  transform-origin: bottom;
  display: none;
  z-index: 1000;
}

@keyframes overLapping {
  0% {
    transform: scaleX(0.1) scaleY(0.03);
  }
  50% {
    transform: scaleX(1) scaleY(0.03);
  }
  100% {
    transform: scaleY(1);
  }
}

.content {
  position: relative;
  z-index: 1;
  max-width: 150rem;
  margin: auto;
}

/* Navigation */

.navigation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.navigation__lists {
  padding: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__lists li {
  font-size: 3rem;
  font-family: 'Do Hyeon', serif;
  color: var(--text-color);
  opacity: 0;
}

.navigation__lists li:nth-child(1) {
  animation: textDisplay 0.3s ease-in-out 0.5s forwards;
}
.navigation__lists li:nth-child(2) {
  animation: textDisplay 0.2s ease-in-out 0.7s forwards;
}
.navigation__lists li:nth-child(3) {
  animation: textDisplay 0.1s ease-in-out 1s forwards;
}

.navigation__lists li a::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.2s ease-in-out;
}

.navigation__lists li:nth-child(1) a::before {
  color: #42c58a;
}
.navigation__lists li:nth-child(2) a::before {
  color: #4ec7f3;
}
.navigation__lists li:nth-child(3) a::before {
  color: #ff6961;
}

.navigation__lists li a:hover::before {
  width: 100%;
}

@keyframes textDisplay {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navigation__effect-up-div {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--accent-color);
}

.visible .navigation__effect-up-div {
  animation: moveUp 1s ease-in-out forwards;
}

@keyframes moveUp {
  0% {
    height: 0%;
    transform: translateY(100vh);
  }
  50% {
    height: 20%;
  }
  100% {
    height: 5%;
    transform: translateY(-100%);
  }
}

.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

@media (min-width: 750px) {
  .navigation {
    position: static;
    display: flex !important;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
  }
  .navigation__lists {
    width: 50%;
    flex-direction: row;
    padding: 0;
    font-size: 2rem;
  }
  .navigation__lists li {
    font-size: 2rem;
  }

  .hamburger-menu {
    display: none;
  }
}

/* End Of Navigation */

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 10rem 0;
}

.section-heading {
  font-family: 'Do Hyeon', serif;
  font-size: 5rem;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 6rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
}

.project .underline {
  background-color: #4ec7f3;
}

.aboutMe .underline {
  background-color: #ff6961;
}

/* End Of Navigation */

/* Header */

.header {
  width: 100%;
  height: 100vh;
}

.header__banner {
  width: 100%;
  height: 25%;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #999;
  font-family: 'Black Han Sans', sans-serif;
}

.header__sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header __flip */

.header__flip {
  display: flex;
  flex-direction: column;
  height: 1.2em;
  overflow: hidden;
}

.header__flip :first-child {
  animation: show 5s linear infinite;
}

.header__flip div {
  height: 100%;
  background-color: #4ec7f3;
  border-radius: 4px;
  padding: 0 1em;
}

.header__flip div:first-child {
  background-color: #dc143c;
}
.header__flip div:last-child {
  background-color: #42c58a;
}

.header__flip div span {
  color: #fff;
  height: 100%;
}

@keyframes show {
  0% {
    margin-top: -3.6em;
  }
  5% {
    margin-top: -2.4em;
  }
  33% {
    margin-top: -2.4em;
  }
  38% {
    margin-top: -1.2em;
  }
  66% {
    margin-top: -1.2em;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -3.6em;
  }
}

/* Header __intro--text */

.header__intro-text--up750px {
  display: none;
}

.header__intro-text {
  position: absolute;
  top: 3rem;
  right: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  font-size: 1rem;
  white-space: nowrap;
}

.header__intro-text span {
  letter-spacing: 0.3rem;
}

.header__intro-text span:nth-child(odd) {
  font-family: 'Black Han Sans', sans-serif;
  font-style: oblique;
  font-size: 1.2em;
}

.header__image {
  position: relative;
  width: 100%;
  height: 75%;
  background: url(https://res.cloudinary.com/djer7hmlq/image/upload/q_auto:good/v1606566590/w2e581nbsnnnhc5ng2r0.jpg)
    no-repeat center center/contain;
}

@media (min-width: 750px) {
  .header {
    display: flex;
  }
  .header__banner {
    width: 50%;
    height: 100%;
    font-size: calc(3rem + 1vw);
  }

  .header__sentence {
    flex-direction: row;
  }
  .header__flip,
  .header__flip div {
    padding: 0 0.5em;
  }
  .header__intro-text {
    font-size: calc(1.5rem + 0.3vw);
    top: 65%;
    left: -5rem;
  }

  .header__image {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 0;
  }
}

/* End of Header */

/* Section-Project */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
  background-color: #4b4b4b;
}

.project__header {
  text-align: center;
  position: absolute;
  top: -3rem;
  left: 1rem;
  font-family: 'Do Hyeon', serif;
  font-weight: lighter;
  font-size: 1.5rem;
  transition: 0.3s ease-in;
  color: #fff;
}

.project__cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

/* project __card */

.project__card {
  background-color: #4b4b4b;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  width: 32rem;
  height: 50rem;
  border-radius: 5rem;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.project__card:hover {
  box-shadow: 1.3rem 1rem 0.05rem var(--accent-color);
}

.project__card:hover .project__header {
  transform: scale(1.2);
}

.project__card-img-wrapper {
  width: 90%;
  height: 80%;
  background-color: #262626;
  border-radius: 0.5rem;
  overflow: hidden;
}
.project__card-img-wrapper ul {
  transition: 0.3s;
}
.project__card-img-wrapper li {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.project__card-img-wrapper img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  object-position: top;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.project__card:hover .project__card-img-wrapper img {
  opacity: 0.2;
}

.project__card:hover .project__card-info {
  bottom: 4rem;
  opacity: 1;
  visibility: visible;
}

/* project __card-info */

.project__card-info {
  width: 100%;
  max-height: 35rem;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  padding: 2.3rem;
  padding-bottom: 3rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.project__card-info h2 {
  font-family: 'Do Hyeon', serif;
  font-size: 2.5rem;
  color: #eee;
}

.project__card-info h3 {
  font-family: 'Do Hyeon', serif;
  font-size: 2rem;
  color: #a52a2a;
  margin-bottom: 1rem;
}

.project__card-info span {
  font-family: 'Do Hyeon', serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #eee;
  opacity: 0.6;
}

.project__card-info p {
  font-family: 'Do Hyeon', serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 100%;
}

.project__card-info-element,
.project__card-info-element--detail {
  animation: opacityFromRight 0.3s ease-in-out;
}

.project__card-info-element--detail h2,
.project__card-info-element--detail h3,
.project__card-info-element--detail span {
  display: block;
  margin: 1rem 0;
}

.project__card-info-element--detail p {
  margin: 0;
}

/* project __button */

.project__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.project__button-wrapper button {
  width: 8rem;
  height: 3rem;
  border: none;
  font-family: 'Do Hyeon', serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  cursor: pointer;
}

.project__button-wrapper button a {
  color: #eee;
}

.project__button-wrapper button:hover {
  transform: scale(1.1);
}

.project__button-wrapper button:nth-child(1) {
  background-color: #4ec7f3;
}

.project__button-wrapper button:nth-child(2) {
  background-color: #42c58a;
}

.project__button-wrapper button:nth-child(3) {
  background-color: #c29525;
}

@keyframes opacityFromRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* project __card-controller */

.project__card-controller {
  position: absolute;
  bottom: -2%;
}

.project__card-controller button {
  font-size: 3rem;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem;
  transition: all 0.1s ease-in;
  color: #fff;
}

.project__card-controller button:hover {
  transform: scale(1.2);
  color: #4ec7f3;
}

@media (min-width: 1000px) {
  .project__cards-wrapper {
    flex-direction: row;
  }
}

/* End Of Section-Project */

/* About-Me */

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
  background-color: var(--background-color);
}

.aboutMe h2 {
  width: 100%;
  text-align: start;
  margin: 4rem 0;
  font-size: 3rem;
  font-family: 'Do Hyeon', serif;
  color: var(--text-color);
  position: relative;
}

.aboutMe h2::before {
  content: attr(data-content);
  color: #ff6961;
  position: absolute;
  bottom: 0;
  left: 0.8rem;
  z-index: -1;
  font-size: 1.2em;
  opacity: 0.2;
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
}

.aboutMe__content-box {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
}

/* About Me __skill */

.aboutMe__skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__skills h3 {
  font-size: 1.5rem;
  opacity: 0.6;
}

.aboutMe__skills ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15rem;
}

/* About Me __skill-box */

.aboutMe__skill-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutMe__skill-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
}

.aboutMe__skill-box li {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe__skill-box li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.aboutMe__skill-box li:nth-child(1) {
  color: #dc143c;
}
.aboutMe__skill-box li:nth-child(2) {
  color: #266beb;
}

.aboutMe__skill-box li:nth-child(3) {
  color: #e6c822;
}

.aboutMe__skill-box li:nth-child(4) {
  color: #4ec7f3;
}

/* About Me __skill-info */

.aboutMe__skill-info {
  width: 15rem;
  display: none;
  background-color: #4b4b4b7c;
  position: absolute;
  bottom: 110%;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.aboutMe__skill-info h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #bbbff7;
}

.aboutMe__skill-info p {
  font-size: 1rem;
}

.aboutMe__skill-box ul li:hover .aboutMe__skill-info {
  display: inline;
  animation: textDisplay 0.3s ease-in-out forwards;
}

/* About Me __icon */

.custom-icon-TS {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background: url(./images/icons-typescript.svg) no-repeat;
}

.custom-icon-MySql {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background: url(./images/icons-mysql.svg) no-repeat;
}

/* About Me __profile */

.aboutMe__profile {
  width: 100%;
  line-break: strict;
}

.aboutMe__profile span {
  font-size: 2rem;
  font-family: 'Do Hyeon', serif;
  margin-right: 1rem;
}

.aboutMe__profile p {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

/* About Me __sentence */

.aboutMe__sentence {
  width: 100%;
}

.aboutMe__sentence p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #4b4b4b;
  font-family: 'Do Hyeon', serif;
}

.aboutMe__sentence-summary {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.aboutMe__sentence-detail {
  height: 0;
  overflow: hidden;
  transition: all ease-in 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMe__sentence-show-btn {
  background: none;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in 0.2s;
  position: absolute;
  right: 10%;
}

.open-detail {
  height: 15rem;
}

.up-down-toggle {
  transform: rotateX(180deg);
}

@media (min-width: 750px) {
  .aboutMe h2 {
    text-align: center;
  }

  .aboutMe__skill-box-wrapper {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutMe__skill-box {
    width: 45%;
  }
  .aboutMe__pro-and-sen-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .aboutMe__profile {
    width: 45%;
    height: 100%;
  }

  .aboutMe__sentence {
    width: 45%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .section-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .aboutMe__skill-box:nth-child(1) {
    height: 30rem;
  }
  .aboutMe__skill-box:nth-child(2) {
    height: 22rem;
  }
}

/* End of About-Me */

.visible {
  display: inline;
}

.invisible {
  display: none;
}
